# User service file for mediamtx
# Place this file in /etc/systemd/system/mediamtx@.service
# systemctl --user daemon-reload
# systemctl --user enable mediamtx@<username>.service
# systemctl --user start mediamtx@<username>.service

[Unit]
Description=Mediamtx Service
After=network.target

[Service]
Type=exec
ExecStart=/home/prisys/.local/bin/mediamtx
Restart=always
RestartSec=5
StartLimitInterval=100
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
