# Place this file in ~/.config/systemd/user/
# systemctl --user daemon-reload
# systemctl --user enable obs-fix.service

[Unit]
Description=Restart mediamtx and OBS to stop stream errors
After=obs.service
Requires=obs.service

[Service]
ExecStartPre=/usr/bin/sleep 60s
ExecStart=%h/Code/CageLab/software/scripts/obs-fix.sh

[Install]
# activate this unit alongside graphical-session.target
WantedBy=graphical-session.target