# Place this file in ~/.config/systemd/user/
# systemctl --user daemon-reload
# systemctl --user enable obs-fix.service

[Unit]
Description=Restart mediamtx and OBS to stop stream errors
After=obs.service
Requires=obs.service

[Service]
ExecStart=%h/Code/CageLab/software/services/obs-fix.sh
ExecStartPre=/usr/bin/sleep 45 # wait 45s before starting

[Install]
# activate this unit alongside graphical-session.target
WantedBy=graphical-session.target